<div
  class="align-middle "
  style="width: 100vw; height: 100vh; display: table-cell "
>
  <div class="fadeInDown col-md-4 offset-md-4 ">
    <div class="shadow-lg p-0 bg-white rounded">
      <div class="card border-0 ">
        <div class="card-body text-center  ">
          <a>
            <img src="assets/images/logo.png" style="width: 45% " />
          </a>
          <form>
            <div class="form-group ">
              <input
                id="editUser"
                type="user"
                class="form-control bg-light text-center border-0 d-inline-block m-2 col-11 "
                id="inputUsername"
                placeholder="username"
              />

              <input
                id="editPass"
                type="password"
                class="form-control bg-light text-center border-0 d-inline-block  col-11  "
                id="inputPassword"
                placeholder="password"
              />
            </div>

            <input
              type="submit"
              class="btn col-sm-7 rounded text-white inputlogin"
              value="Log In"
            />
          </form>

          <div class="mt-2 " style="color: gray">
            <a>
              <small>
                Apontamento de Horas
                <p>SW Brasil Soluções Integradas © 2019</p></small
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
