<div
  class="align-middle "
  style="width: 100vw; height: 100vh; display: table-cell;"
>
  <div class="fadeInDown col-md-4 offset-md-4 ">
    <div class="shadow-lg p-0 bg-white rounded">
      <div class="card border-0 ">
        <div class="card-body text-center ">
          <a>
            <img src="assets/images/logo.png" style="width: 45% " />
          </a>
          <form>
            <div class="form-group ">
              <label for="inputUsername"></label>
              <input
                type="user"
                class="form-control  bg-light text-center border-0 "
                id="inputUsername"
                placeholder="login"
              />

              <label for="inputPassword"></label>
              <input
                type="password"
                class="form-control bg-light text-center border-0  "
                id="inputPassword"
                placeholder="password"
              />
            </div>

            <input
              type="submit"
              class="btn col-sm-6 rounded text-white inputlogin"
              value="Log In"
            />
          </form>

          <div id="formFooter" class="mt-2">
            <a class="underlineHover ">
              <small>
                Apontamento de Horas
                <p>SW Brasil Soluções Integradas © 2019</p></small
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
