<nav class="navbar navbar-expand-lg navbar-color">
  <a class="navbar-brand rounded " href="#"
    ><img src="assets/images/logo2.png" width="70" height="40" alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <small
          ><a class="nav-link text-white font " href="#">Atividades</a></small
        >
      </li>
      <li class="nav-item dropdown ">
        <a
          class="nav-link  text-white font dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Relatórios
        </a>
        <div class="dropdown-menu sub-bar" aria-labelledby="navbarDropdown">
          <a class="dropdown-item font sub-bar  " href="#">{{ nametext }} </a>

          <a class="dropdown-item font" href="#"
            >Relatório por Colaborador por dia</a
          >
          <a class="dropdown-item font" href="#">Cartão de Entrada</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white font" href="#">Financeiro</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn text-white rounded  input-logout" type="submit">
        LOG OUT
      </button>
    </form>
  </div>
</nav>

<body class="text-justify-center container mt-5"></body>
